.logo-navbar {
  height: 55px;
  margin-left: 10px;
  margin-right: 15px;
}

.card-inicio {
  width: 40%;
  margin-top: 20px;
  color: #000;
  margin-bottom: 20px;
  background-color: rgba(255, 128, 0, 0.8);
}

.background-comentario {
  background-color: #eadede;
}

.texto-comentario {
  font-size: 20px;
}

.contenedor-imagen-kit {
  height: auto;
  width: 600px;
  padding: 4px;
}

.contenedor-video-promocional {
  width: fit-content;
  padding: 2px;
}

.contenedor-carrusel {
  background-color: black;
  border-radius: 10em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 650px;
}

.contenedor {
  background-color: black;
  border-radius: 10em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 850px;
}

.imagen-carrusel {
  text-align: center;
  height: 400px;
}

.texto-carrusel {
  color: #f58840;
}

.fondo-comentarios {
  background-color: rgba(255, 128, 0, 0.4);
}

.card-quienes-somos {
  background-color: rgba(255, 158, 1, 0.5);
  border-radius: 25%;
  padding-bottom: 20px;
}

.card-quienes-somos-info {
  background-color: rgba(255, 128, 0, 0.8);
  color: #fff;
}

.card-quienes-somos-info-body {
  color: black;
  height: 180px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgba(225, 225, 225, 0);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  height: auto;
  width: auto;
}

.footer-personalizado {
  background-color: rgba(33, 33, 33, 0.8);
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 999;
}
