body {
  height: max-content;
  background-image: url("/src/components/images/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: black;
  background-attachment: fixed;
}
